extends layout.pug

block content

  article.portfolio-intro
    h1 Full Stack Web Development Portfolio
    p This portfolio showcases some of my recent projects as a Treehouse Techdegree student.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- loop through each project and insert it into the main page
      each proj of projects
        .cell
          - var url = proj.id;
          - var image = proj.image_urls[0];
          - var desc = proj.description;
          a(href='/project/' + url)
            img.thumbnail(src=`/static/${image}`, alt=`${desc}`)
            h5 #{proj.project_name}

