<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Michael Carr Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300', rel='stylesheet')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        
        .dev-intro-box
          a(href='/')
            img(src='/static/img/logo.png', width="200px")

          p Full stack software engineer with ten years of music industry experience. Currently building a royalty accounting SaaS app for publishers and labels.

          a(href='/about') Learn more about me&rarr;
    
    //- Start Header
    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Michael Carr

      block content

  script(src='/static/js/script.js')